* {
    font-family: "Lato", sans-serif;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", "Lato", sans-serif;
    margin: 0;
    line-height: 1.25;
}

h2, h3, h4, h5, h6 {
    color: $woods-green;
}

a {
    text-decoration: none;
    transition: ease-in-out .2s;
    color: black;
}

ul {
    list-style: none;
    padding: 0;
    li {
        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.button {
    border-radius: 6px;
    padding: .75rem 1rem;
    border: none;
    background: #116500;
    color: white;
    transition: ease-in-out .2s;
    width: fit-content;
    color: white;
    &:hover {
        background: #1e7a0c;
        text-decoration: none;
    }
    a {
    }
}

h1 {
    font-size: 3.75rem;
    @media (min-width: 1200px) {
        font-size: 4.25rem;
    }
}

h2 {
    font-size: 2.75rem;
    @media (min-width: 1200px) {
        font-size: 3.25rem;
    }
}

h3 {
    font-size: 1.875rem;
    @media (min-width: 1200px) {
        font-size: 2rem;
    }
}

h4 {
    font-size: 1.75rem;
    @media (min-width: 1200px) {
        font-size: 1.875rem;
    }
}

h5 {
    font-size: 1.75rem;
    @media (min-width: 1200px) {
        font-size: 1.875rem;
    }
}

h6 {
    font-size: 1.75rem;
    @media (min-width: 1200px) {
        font-size: 1.875rem;
    }
}

input[type=text] {
    background: #D7FFFD;
    border: none;
    padding: .6rem .75rem;
    border-radius: 6px;
    color: #4B4B4B;
    &:focus{
        outline: none;
    }
}

.input--long {
    min-width: 0;
    @media only screen and (min-width: 600px) {
        min-width: 300px;
    }
}

.container {
    padding: 4rem 5rem;
    display: flex;
}

.white {
    color: white;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: black;
    opacity: .3;
    transition: ease-in-out .2s;
}

#map { 
    border-radius: 12px;
    border: solid .5rem $woods-green;
    width: 100%;
    height: 550px;
}